@import "tailwindcss";

@theme inline {
  --font-sans: var(--font-inter);
  --font-display: var(--font-lexend);
}

body {
  font-family: var(--font-inter), sans-serif;
}

.font-display {
  font-family: var(--font-lexend), sans-serif;
}
